<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <title>Adepto</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <style>

    </style>
</head>

<body class="text-center">

    <div id="app" class="cover-container d-flex h-100 p-2 mx-auto flex-column">

        <header class="masthead mb-auto">
            <div class="inner">
                <nav class="navbar navbar-expand-sm navbar-light">
                    <a class="navbar-brand" href="#" v-on:click="updateaction(actions[0])">{{title}} - {{subtitle}}</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse flex-grow-1" id="navbarNav">
                        <ul class="navbar-nav ml-auto flex-nowrap nav-pills">
                            <li class="nav-item">
                                <a class="nav-link" href="#" v-on:click="updateaction(actions[0])">{{actions[0]}}</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./index.html">Logout</a>
                                <!-- TODO logout -->
                            </li>
                        </ul>
                    </div>
                </nav>

                <nav aria-label="breadcrumb" v-if="(currentgroup !== 0 || currentuser !== 0 || currentset!==0)">
                    <ol class="breadcrumb">
                        <!-- <li class="breadcrumb-item" v-bind:class="{ active: currentaction == actions[0]}"><a href="#" v-on:click="updateaction(actions[0])">{{actions[0]}}</a></li> -->
                        <li class="breadcrumb-item" v-if="currentgroup !== 0">{{currentgroup.name}}</li>
                        <li class="breadcrumb-item" v-if="currentuser !== 0">{{currentuser.first_name}}
                            {{currentuser.last_name}}</li>
                        <li class="breadcrumb-item" v-if="currentset !== 0">{{currentset.name}}</li>
                    </ol>
                </nav>

                <!-- SETS NAV -->
                <div id="setsnav" v-if="currentaction == actions[2]">
                    <a href="#" v-on:click="updateaction(actions[9])">
                        <i class="fas fa-plus-circle color-complement-4"></i>{{actions[9]}}</a>
                    <a href="#" v-on:click="updateaction(actions[10])"> <i class="fas fa-minus-circle color-complement-1"></i>{{actions[10]}}</a>
                </div>

                <!-- GROUPS NAV -->
                <div id="groupsnav" v-if="currentaction == actions[4]">
                    <a href="#" v-on:click="updateaction(actions[11])">
                        <i class="fas fa-plus-circle color-secondary-1-4"></i>{{actions[11]}}</a>
                    <a href="#" v-on:click="updateaction(actions[12])"> <i class="fas fa-minus-circle color-secondary-1-1"></i>{{actions[12]}}</a>
                </div>

            </div>

        </header>

        <main role="main" class="inner  container">

            <!-- DASHBOARD SCREEN -->
            <div id="dashboard" v-if="currentaction == actions[0]">
                <div class="row">

                    <div class="col-md-6 col-lg-4">
                        <div class="card my-2" v-on:click="updateaction(actions[1])">
                            <div class="card-body">
                                <p class="card-text"> <i class="fas fa-angle-double-right fa-5x color-primary-4"></i></p>
                                <h5 class="card-title">{{actions[1]}}</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4">
                        <div class="card my-2" v-on:click="updateaction(actions[2])">
                            <div class="card-body">
                                <p class="card-text"> <i class="fas fa-tasks fa-5x color-complement-4"></i></p>
                                <h5 class="card-title">{{actions[2]}}</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4">
                        <div class="card my-2" v-on:click="updateaction(actions[3])">
                            <div class="card-body">
                                <p class="card-text"> <i class="far fa-check-square fa-5x color-complement-3"></i></p>
                                <h5 class="card-title">{{actions[3]}}</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4">
                        <div class="card my-2" v-on:click="updateaction(actions[4])">
                            <div class="card-body">
                                <p class="card-text"> <i class="fas fa-users fa-5x color-secondary-1-4"></i></p>
                                <h5 class="card-title">{{actions[4]}}</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4">
                        <div class="card my-2" v-on:click="updateaction(actions[5])">
                            <div class="card-body">
                                <p class="card-text"> <i class="fas fa-user fa-5x color-secondary-1-3"></i></p>
                                <h5 class="card-title">Learners</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4">
                        <div class="card my-2" v-on:click="updateaction(actions[6])">
                            <div class="card-body">
                                <p class="card-text"> <i class="far fa-chart-bar fa-5x color-secondary-2-3"></i></p>
                                <h5 class="card-title">{{actions[6]}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ASSESS SCREEN -->
            <div id="assess" v-if="currentaction == actions[1]">
                <div class="card-deck">
                    <div class="card my-2" v-on:click="updateaction(actions[7])">
                        <div class="card-body">
                            <p class="card-text"> <i class="fas fa-angle-double-right fa-5x color-primary-4"></i></p>
                            <h5 class="card-title">{{actions[7]}}</h5>
                        </div>
                    </div>

                    <div class="card my-2" v-on:click="updateaction(actions[8])">
                        <div class="card-body">
                            <p class="card-text"> <i class="fas fa-angle-right fa-5x color-primary-3"></i></p>
                            <h5 class="card-title">{{actions[8]}}</h5>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ASSESS GROUP  -->
            <div id="assessgroup" v-if="currentaction==actions[7]">

                <ul class="list-group" v-if="(currentgroup === 0)">
                    <li class="list-group-item my-2 py-4 mx-auto w-75 text-left " v-for="group in groups" :key="group.id"
                        v-on:click="setcurrentgroup(group)">{{group.name}}
                        - {{group.description}}</li>
                </ul>

                <ul class="list-group" v-if="(currentset === 0 && currentgroup !== 0)">
                    <li class="list-group-item my-2 py-4 mx-auto w-75 text-left " v-for="set in sets" :key="set.id"
                        v-on:click="setcurrentset(set)">{{set.name}}
                        - {{set.description}}</li>
                </ul>
            </div>

            <!-- ASSESS LEARNER  -->
            <div id="assesslearner" v-if="currentaction==actions[8]">

                <ul class="list-group" v-if="(currentgroup === 0)">
                    <li class="list-group-item my-2 py-4 mx-auto w-75 text-left " v-for="group in groups" :key="group.id"
                        v-on:click="setcurrentgroup(group)">{{group.name}}
                        - {{group.description}}</li>
                </ul>

                <ul class="list-group" v-if="(currentuser === 0 && currentgroup !== 0)">
                    <li class="list-group-item my-2 py-4 mx-auto w-75 text-left " v-for="user in users" :key="user.id"
                        v-on:click="setcurrentuser(user)">{{user.first_name}}
                        {{user.last_name}} (Group: {{user.group_id}})
                    </li>
                </ul>

                <ul class="list-group" v-if="(currentset === 0 && currentgroup !== 0 && currentuser !== 0)">
                    <li class="list-group-item my-2 py-4 mx-auto w-75 text-left " v-for="set in sets" :key="set.id"
                        v-on:click="setcurrentset(set); updateaction(actions[13])">{{set.name}}
                        - {{set.description}}</li>
                </ul>
            </div>


            <!-- GROUPS SCREEN -->
            <div id="groups" v-if="(currentaction == actions[4])">
                <ul class="list-group">
                    <li class="list-group-item my-2 py-4 mx-auto w-75 text-left " v-for="group in groups" :key="group.id"
                        v-on:click="setcurrentgroup(group)">{{group.name}}
                        - {{group.description}}</li>
                </ul>
            </div>


            <!-- ASESSMENT SETS SCREEN-->
            <div id="sets" v-if="currentaction == actions[2]">
                <ul class="list-group">
                    <li class="list-group-item my-2 py-4 mx-auto w-75 text-left " v-for="set in sets" :key="set.id">{{set.name}}
                        - {{set.description}}</li>
                </ul>
            </div>


            <!-- ASESSMENT ITEMS SCREEN-->
            <div id="items" v-if="currentaction == actions[3]">
                <ul class="list-group">
                    <li class="list-group-item my-2 py-4 mx-auto w-75 text-left " v-for="item in items" :key="item.id">{{item.item_number}}.
                        {{item.item}}
                    </li>
                </ul>
            </div>

            <!-- LEARNER SCREEN-->
            <div id="learners" v-if="currentaction == actions[5]">
                <ul class="list-group">
                    <li class="list-group-item my-2 py-4 mx-auto w-75 text-left " v-for="user in users" :key="user.id"
                        v-on:click="setcurrentuser(user)">{{user.first_name}}
                        {{user.last_name}} (Group: {{user.group_id}})
                        <!-- TODO SHOW GROUP SORT BY LAST NAME -->
                    </li>
                </ul>
            </div>

            <!-- ASSESSMENT SETTINGS SCREEN -->
<!-- todo fix mobile version of this form -->
            <div id="prepareassessment" v-if="currentaction == actions[13]">
                <form action="assess.php"
                method="post"
                id="assessmentsettings">
                    <div class="form-group row ">
                        <label class="col-sm-6 col-form-label">Settings</label>
                        <div class="col-6 text-left">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input name="settings" type="checkbox" v-model="assessmentsettings.random" aria-describedby="settingsHelpBlock"
                                        class="form-check-input" value="random">
                                    Randomize Item Order
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input name="settings" type="checkbox" v-model="assessmentsettings.timed" aria-describedby="settingsHelpBlock"
                                        class="form-check-input" value="timed">
                                    Item Goal Time
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input name="settings" type="checkbox" v-model="assessmentsettings.autoadvance" aria-describedby="settingsHelpBlock"
                                        class="form-check-input" value="autoadvance" :disabled="!assessmentsettings.timed">
                                    Auto Advance <small><span class="text-danger" v-if="!assessmentsettings.timed">(Item Goal Time Required for this setting)</span></small>
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input name="settings" type="checkbox" v-model="assessmentsettings.countfilter" aria-describedby="settingsHelpBlock"
                                        class="form-check-input" value="countfilter">
                                    Filter by Previous Answer Counts
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input name="settings" type="checkbox" v-model="assessmentsettings.itemlimit" aria-describedby="settingsHelpBlock"
                                        class="form-check-input" value="itemlimit">
                                    Limit Assessment Items
                                </label>
                            </div>
                            <span id="settingsHelpBlock" class="form-text text-muted">Choose all that apply.</span>
                        </div>
                    </div>

                    <div class="form-group row" v-if="assessmentsettings.timed">
                        <label for="answertime" class="col-6 col-form-label">Desired Answer Time</label>
                        <div class="col-4">
                            <div class="input-group">
                                <input id="answertime" name="answertime" type="number" step="1" min="0" max="60" value="3" aria-describedby="answertimeHelpBlock"
                                    class="form-control here">
                                <div class="input-group-append"><span class="input-group-text">Seconds</span></div>
                            </div>
                            <span id="answertimeHelpBlock" class="form-text text-muted">The number of seconds desired
                                for each item to be answered. Item will be marked incorrect after this time.</span>
                        </div>
                    </div>

                    <div class="form-group row" v-if="assessmentsettings.countfilter">
                        <label for="assessmentcount" class="col-6 col-form-label">Answer Count Filter</label>
                        <div class="col-4">
                            <div class="input-group">
                                <input id="assessmentcount" name="assessmentcount" type="number" step="1" min="0" max="10" value="3"
                                    aria-describedby="assessmentcountHelpBlock" required="required" class="form-control here">
                                <div class="input-group-append"><span class="input-group-text">Count</span></div>
                            </div>
                            <span id="assessmentcountHelpBlock" class="form-text text-muted">Only show items that have
                                not yet been answered this many times</span>
                        </div>
                    </div>
                    <div class="form-group row" v-if="assessmentsettings.itemlimit">
                        <label for="text" class="col-6 col-form-label">Item Limit</label>
                        <div class="col-4">
                            <div class="input-group">
                                <input id="text" name="text" type="number" step="1" min="0" max="100" value="10" aria-describedby="textHelpBlock"
                                    class="form-control here">
                                <div class="input-group-append"><span class="input-group-text">Items</span></div>
                            </div>
                            <span id="textHelpBlock" class="form-text text-muted">Limit the total items in this
                                assessment</span>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="offset-6 col-6">
                            <button name="submit" type="submit" class="btn btn-primary">Begin Assessment</button>
                        </div>
                    </div>
                </form>



            </div>


        </main>

        <!-- FOOTER -->
        <footer class="mastfoot mt-auto">
            <div class="inner">
                <hr>
                <p>Created by <a target="_blank" href="http://thejoshdean.com">Josh Dean</a> 2018</p>
            </div>
        </footer>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

    <script>

        var app = new Vue({
            el: '#app',
            data: {
                title: 'Adepto',
                subtitle: 'Dashboard',
                actions: ['Dashboard', 'Assess', 'Assessment Sets', 'Assessment Items', 'Groups', 'Learners', 'Reports', 'Assess Group', 'Assess Learner', 'Create Set', 'Delete Set', 'Create Group', 'Delete Group', 'Assessment Settings'],
                assessmentprepare: false,
                currentaction: 'Dashboard',
                samplesets: [
                    { id: 1, name: 'Alphabet (Upper)', description: 'Uppercase alphabet letters' },
                    { id: 2, name: 'Multiplicaton Facts', description: 'Unique times table facts from 0 to 10' },
                    { id: 3, name: '1st 100 Fry Words', description: 'First 100 Fry sight reading words' }
                ],
                sets: [],
                currentset: 0,
                samplegroups: [
                    { id: 4, name: '2nd Grade', description: 'Mrs. Mills Sample Class 1' },
                    { id: 5, name: '4th Grade', description: 'Mr. Dean\'s Sample Class 2' }
                ],
                groups: [],
                currentgroup: 0,
                sampleusers: [
                    { id: 6, first_name: 'Lisa', last_name: 'Dean', group_id: 4 },
                    { id: 7, first_name: 'Julia', last_name: 'Eden', group_id: 4 },
                    { id: 8, first_name: 'Micah', last_name: 'Christian', group_id: 4 },
                    { id: 9, first_name: 'Stephanie', last_name: 'Nichols', group_id: 5 },
                ],
                users: [],
                currentuser: 0,
                sampleitems: [
                    { id: 10, item_number: 1, item: "a", assessment_set_id: 3 },
                    { id: 11, item_number: 2, item: "about", assessment_set_id: 3 },
                    { id: 12, item_number: 3, item: "all", assessment_set_id: 3 },
                    { id: 13, item_number: 4, item: "an", assessment_set_id: 3 },
                    { id: 14, item_number: 5, item: "and", assessment_set_id: 3 },
                    { id: 15, item_number: 6, item: "are", assessment_set_id: 3 },
                ],
                items: [],
                currentitem: 0,
                assessmentsettings: {random: true, timed: true, autoadvance: true, countfilter: true, itemlimit: true}
            },
            created: function () {
                this.items = this.sampleitems;
                this.groups = this.samplegroups;
                this.sets = this.samplesets;
                this.users = this.sampleusers;
                // TODO fetch from db
            },
            methods: {
                updateaction: function (action) {
                    $('.collapse').collapse("hide")
                    this.currentaction = action;
                    this.subtitle = action;
                    console.log(this.currentaction);
                   if(this.currentaction !== this.actions[13]){
                        this.resetcurrents();
                        }
                },
                setcurrentuser: function (user) {
                    this.currentuser = user;
                    console.log(this.currentuser.first_name);
                },
                setcurrentgroup: function (group) {
                    this.currentgroup = group;
                    console.log(this.currentgroup.name);
                },
                setcurrentset: function (set) {
                    this.currentset = set;
                    console.log(this.currentset.name);
                },
                resetcurrents: function () {
                    this.currentgroup = this.currentitem = this.currentset = this.currentuser = 0;
                }
            }
        })

    </script>
</body>

</html>