<!doctype html>
<html lang="en">
<!-- TODO link to all reports  -->
<!-- TODO reports need to allow selection of sets, items, groups, learner -->

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <title>Adepto</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script type="text/javascript">

        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Leaner', 'Alphabet', 'Sight Words', 'Multiplciation'],
          ['Sally Sue', 80, 50, 30],
          ['Billy Bob', 11, 4, 25],
          ['Dave Thomas', 60, 11, 30],
          ['Mark Will', 90, 54, 35]
        ]);

        var options = {
          chart: {
            title: 'Group Report',
            subtitle: 'Percentage of Items Correct by Assessment Set',
            height: '600px',
            width: '100%'

          },
          bars: 'horizontal' // Required for Material Bar Charts.
        };

        var chart = new google.charts.Bar(document.getElementById('barchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
      </script>
    <style>

    </style>
</head>

<body class="text-center">
    <div id="app" class="cover-container d-flex h-100 p-2 mx-auto flex-column">
          
        <header class="masthead mb-auto">
            <div class="inner">
                <nav class="navbar navbar-expand-sm navbar-light">
                    <a class="navbar-brand" href="dashboard.html">{{title}}</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse flex-grow-1" id="navbarNav">
                        <ul class="navbar-nav ml-auto flex-nowrap nav-pills">
                            <li class="nav-item">
                                <a class="nav-link" href="#dashboard" v-on:click="updateaction(actions[0])">{{actions[0]}}</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./index.html">Logout</a>
                                <!-- TODO logout -->
                            </li>
                        </ul>
                    </div>
                </nav>
                <nav aria-label="breadcrumb" v-if="currentaction !== actions[0]">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#dashboard" v-on:click="updateaction(actions[0]); resetcurrents()">{{actions[0]}}</a></li>
                        <li class="breadcrumb-item" v-if="currentaction === actions[1] || currentaction === actions[7] || currentaction === actions[8] || currentaction === actions[13]"><a
                                href="#assess" v-on:click="updateaction(actions[1]); resetcurrents()">{{actions[1]}}</a></li>
                        <li class="breadcrumb-item" v-if="currentaction === actions[2] || currentaction ===actions[9]  || (currentaction === actions[14] && currentset !== 0)"><a
                                href="#assessmentsets" v-on:click="updateaction(actions[2]); resetcurrents()">{{actions[2]}}</a></li>
                        <li class="breadcrumb-item" v-if="currentaction === actions[3]"><a href="#assessmentitems"
                                v-on:click="updateaction(actions[3]); resetcurrents()">{{actions[3]}}</a></li>
                        <li class="breadcrumb-item" v-if="currentaction === actions[4] || currentaction === actions[11] || currentaction === actions[15]"><a
                                href="#groups" v-on:click="updateaction(actions[4]); resetcurrents()">{{actions[4]}}</a></li>
                        <li class="breadcrumb-item" v-if="currentaction === actions[5]"><a href="#learners" v-on:click="updateaction(actions[5]); resetcurrents()">{{actions[5]}}</a></li>
                        <li class="breadcrumb-item" v-if="currentaction === actions[6]"><a href="#Reports" v-on:click="updateaction(actions[6]); resetcurrents()">{{actions[6]}}</a></li>
                        <li class="breadcrumb-item" v-if="currentaction === actions[7]"><a href="#Assess Group"
                                v-on:click="updateaction(actions[7]); resetcurrents()">{{actions[7]}}</a></li>
                        <li class="breadcrumb-item" v-if="currentaction === actions[8] || currentaction === actions[13]"><a
                                href="#Assess Learner" v-on:click="updateaction(actions[8]); resetcurrents()">{{actions[8]}}</a></li>
                        <li class="breadcrumb-item" v-if="currentreport !== 0">{{currentreport.name}}</li>
                        <li class="breadcrumb-item" v-if="currentset !== 0">{{currentset.name}}</li>
                        <li class="breadcrumb-item" v-if="currentitem !== 0">{{currentitem.item.substr(0,20)}}...</li>
                        <li class="breadcrumb-item" v-if="currentgroup !== 0">{{currentgroup.name}}</li>
                        <li class="breadcrumb-item" v-if="currentuser !== 0">{{currentuser.first_name}}
                            {{currentuser.last_name}}</li>

                        <li class="breadcrumb-item" v-if="currentaction === actions[9]">{{actions[9]}}</li>
                        <li class="breadcrumb-item" v-if="currentaction === actions[11]">{{actions[11]}}</li>
                        <li class="breadcrumb-item" v-if="currentaction === actions[14]">{{actions[14]}}</li>
                        <li class="breadcrumb-item" v-if="currentaction === actions[15]">{{actions[15]}}</li>


                    </ol>
                </nav>
            </div>

        </header>

        <main role="main" class="inner container">

            <!-- DASHBOARD SCREEN -->
            <div id="dashboard" v-if="currentaction == actions[0]">
                <div class="row">
                    <div class="col-md-6 col-lg-4" v-for="dbbutton in dashboardbuttons">
                        <button type="button" class="btn btn-lg my-2 btn-nav" v-on:click="updateaction(actions[dbbutton.action])"><i
                                :class="['fa-5x', dbbutton.icon, dbbutton.colorclass]"></i> <br>{{actions[dbbutton.action]}}</button>
                    </div>
                </div>
            </div>

            <!-- ASSESS SCREEN -->
            <div id="assess" v-if="currentaction == actions[1]">

                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-lg my-2 btn-nav" v-on:click="updateaction(actions[7])"><i
                                class="fas fa-angle-double-right fa-5x color-primary-4"></i> <br>{{actions[7]}}</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-lg my-2 btn-nav" v-on:click="updateaction(actions[8])"><i
                                class="fas fa-angle-right fa-5x color-primary-3"></i> <br>{{actions[8]}}</button>
                    </div>
                </div>

            </div>

            <!-- ASSESS GROUP  -->
            <div id="assessgroup" v-if="currentaction==actions[7]">

                <div class="list-group" v-if="(currentgroup === 0)">
                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left "
                        v-for="group in groups" :key="group.id" v-on:click="setcurrentgroup(group)">{{group.name}}
                        - {{group.description}}</button>
                </div>

                <div class="list-group" v-if="(currentset === 0 && currentgroup !== 0)">
                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left "
                        v-for="set in sets" :key="set.id" v-on:click="setcurrentset(set)">{{set.name}}
                        - {{set.description}}</button>
                </div>
            </div>

            <!-- ASSESS LEARNER  -->
            <div id="assesslearner" v-if="currentaction==actions[8]">

                <div class="list-group" v-if="(currentgroup === 0)">
                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left "
                        v-for="group in groups" :key="group.id" v-on:click="setcurrentgroup(group)">{{group.name}}
                        - {{group.description}}</button>
                </div>

                <div class="list-group" v-if="(currentuser === 0 && currentgroup !== 0)">
                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left "
                        v-for="user in users" :key="user.id" v-on:click="setcurrentuser(user)">{{user.first_name}}
                        {{user.last_name}} (Group: {{user.group_id}})
                    </button>
                </div>

                <div class="list-group" v-if="(currentset === 0 && currentgroup !== 0 && currentuser !== 0)">
                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left "
                        v-for="set in sets" :key="set.id" v-on:click="setcurrentset(set); updateaction(actions[13])">{{set.name}}
                        - {{set.description}}</button>
                </div>
            </div>


            <!-- GROUPS SCREEN -->
            <div id="groups" v-if="(currentaction == actions[4])">
                <h4 v-if="currentgroup !== 0">{{currentgroup.name}} <br><small>{{currentgroup.description}}</small></h4>
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left"
                        v-if="currentgroup === 0" v-on:click="updateaction(actions[11])"><i class="fas fa-plus-circle color-complement-4"></i>
                        {{actions[11]}}</button>
                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left "
                        v-if="currentgroup !== 0 && currentaction == actions[4]" v-on:click="updateaction(actions[7])"><i
                            class="fas fa-angle-double-right color-primary-4"></i>{{actions[7]}}</button>
                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left "
                        v-if="currentgroup !== 0 && currentaction == actions[4]" v-on:click="updateaction(actions[15])"><i
                            class="fas fa-plus-circle color-secondary-1-3"></i>{{actions[15]}}</button>
                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left "
                        v-if="currentgroup !== 0 && currentaction == actions[4]"><i class="far fa-edit color-complement-3"></i>Edit
                        / Rename Group</button>
                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left "
                        v-if="currentgroup !== 0 && currentaction == actions[4]" v-on:click="updateaction(actions[6]); setcurrentreport(reports[2]);"><i
                            class="far fa-chart-bar color-secondary-2-3"></i>{{reports[2].name}}</button>
                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left "
                        v-if="currentgroup !== 0 && currentaction == actions[4]"><i class="fas fa-minus-circle color-complement-1"></i>
                        {{actions[12]}}</button>

                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left "
                        v-for="group in groups" :key="group.id" v-on:click="setcurrentgroup(group)" v-if="currentgroup === 0">{{group.name}}
                        - {{group.description}}</button>

                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left "
                        v-for="user in users" :key="user.id" v-on:click="updateaction(actions[5]); setcurrentuser(user)"
                        v-if="currentuser === 0 && currentgroup !== 0">{{user.first_name}}
                        {{user.last_name}} (Group: {{user.group_id}})
                        <!-- TODO SHOW GROUP SORT BY LAST NAME -->
                    </button>
                </div>
            </div>
            <!-- v-on:click="updateaction(actions[3]); setcurrentitem(item)" v-if="currentitem === 0 && currentset !== 0" -->
            <!-- CREATE GROUP SCREEN -->
            <div id="creategroup" v-if="currentaction === actions[11]">
                <h4 class="offset-md-3">{{actions[11]}}</h4>
                <form>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="name">Name</label>
                        <div class="col-sm-9">
                            <input id="name" name="name" placeholder="Group Name" type="text" required="required" class="form-control here"
                                maxlength="115">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="textarea">Description</label>
                        <div class="col-sm-9">
                            <textarea id="textarea" name="textarea" cols="40" rows="3" class="form-control" maxlength="250"
                                aria-describedby="textareaHelpBlock"></textarea>
                            <span id="textareaHelpBlock" class="form-text text-muted">Optional description of this
                                group</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="learner" class="col-sm-3 col-form-label">Learner(s)</label>
                        <div class="col-sm-9">
                            <textarea id="learner" name="learner" cols="40" rows="5" class="form-control"
                                aria-describedby="itemHelpBlock" placeholder="First Name Last Name
First Name Last Name
First Name Last Name
                            "></textarea>
                            <span id="itemHelpBlock" class="form-text text-muted">A list of learners. Multiple
                                learners can be added by putting each on a separate line. These can also be added
                                later.</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-3 col-9">
                            <button name="submit" type="submit" class="btn btn-primary">Create Group</button>
                        </div>
                    </div>
                </form>
            </div>



            <!-- ASSESSMENT SETS SCREEN-->
            <div id="assessmentsets" v-if="currentaction == actions[2]">
                <h4 v-if="currentset !== 0">{{currentset.name}} <br><small>{{currentset.description}}</small></h4>
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left"
                        v-if="currentset === 0" v-on:click="updateaction(actions[9])"><i class="fas fa-plus-circle color-complement-4"></i>
                        {{actions[9]}}</button>
                    <!-- <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left " v-if="currentset !== 0 && currentaction == actions[2]"
                        v-on:click="setcurrentset(0)"><i class="fas fa-arrow-left color-complement-4"></i>Back</button> -->
                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left "
                        v-if="currentset !== 0 && currentaction == actions[2]" v-on:click="updateaction(actions[14])"><i
                            class="fas fa-plus-circle color-complement-3"></i>{{actions[14]}}</button>
                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left "
                        v-if="currentset !== 0 && currentaction == actions[2]"><i class="far fa-edit color-complement-3"></i>Edit
                        / Rename Assessment Set</button>
                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left "
                        v-if="currentset !== 0 && currentaction == actions[2]" v-on:click="updateaction(actions[6]); setcurrentreport(reports[0]);"><i
                            class="far fa-chart-bar color-secondary-2-3">
                        </i>{{reports[0].name}}</button>
                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left "
                        v-if="currentset !== 0 && currentaction == actions[2]"><i class="fas fa-minus-circle color-complement-1"></i>
                        Delete Assessment Set</button>
                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left "
                        v-for="set in sets" :key="set.id" v-on:click="setcurrentset(set)" v-if="currentset === 0">{{set.name}}
                        - {{set.description}}</button>
                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left "
                        v-for="item in items" :key="item.id" v-on:click="updateaction(actions[3]); setcurrentitem(item)"
                        v-if="currentitem === 0 && currentset !== 0">{{item.item_number}}.
                        {{item.item}}
                    </button>
                </div>

            </div>


            <!-- CREATE ASSESSMENT SET SCREEN -->
            <div id="createset" v-if="currentaction === actions[9]">
                <h4 class="offset-md-3">{{actions[9]}}</h4>
                <form>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="name">Name</label>
                        <div class="col-sm-9">
                            <input id="name" name="name" placeholder="Assessment Set Name" type="text" required="required"
                                class="form-control here" maxlength="115">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="textarea">Description</label>
                        <div class="col-sm-9">
                            <textarea id="textarea" name="textarea" cols="40" rows="3" class="form-control" maxlength="250"
                                aria-describedby="textareaHelpBlock"></textarea>
                            <span id="textareaHelpBlock" class="form-text text-muted">Optional description of this set</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="item" class="col-sm-3 col-form-label">Item(s)</label>
                        <div class="col-sm-9">
                            <textarea id="item" name="item" cols="40" rows="5" class="form-control" aria-describedby="itemHelpBlock"></textarea>
                            <span id="itemHelpBlock" class="form-text text-muted">A list of assessment items. Multiple
                                items can be added by putting each on a separate line. These can also be added later.</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-3 col-9">
                            <button name="submit" type="submit" class="btn btn-primary">{{actions[9]}}</button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- ASESSMENT ITEMS SCREEN-->
            <div id="items" v-if="currentaction == actions[3]">
                <h4 v-if="currentitem !== 0">{{currentitem.item}}</h4>
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left"
                        v-if="currentitem === 0" v-on:click="updateaction(actions[14])"><i class="fas fa-plus-circle color-complement-4"></i>
                        {{actions[14]}}</button>
                    <!-- <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left " v-if="currentitem !== 0 && currentaction == actions[3]"
                        v-on:click="setcurrentitem(0)"><i class="fas fa-arrow-left color-complement-3"></i>Back</button> -->
                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left "
                        v-if="currentitem !== 0 && currentaction == actions[3]"><i class="far fa-edit color-complement-3"></i>Edit
                        Assessment Item</button>
                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left "
                        v-if="currentitem !== 0 && currentaction == actions[3]" v-on:click="updateaction(actions[6]); setcurrentreport(reports[1])"><i
                            class="far fa-chart-bar color-secondary-2-3"></i>{{reports[1].name}}</button>
                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left "
                        v-if="currentitem !== 0 && currentaction == actions[3]"><i class="fas fa-minus-circle color-complement-1"></i>
                        Delete Assessment Item</button>
                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left "
                        v-for="item in items" :key="item.id" v-on:click="setcurrentitem(item)" v-if="currentitem === 0">{{item.item_number}}.
                        {{item.item}}
                    </button>
                </div>
            </div>


            <!-- CREATE ASSESSMENT ITEMS SCREEN -->
            <div id="createset" v-if="currentaction === actions[14]">
                <h4 class="offset-md-3">{{actions[14]}}</h4>
                <form>
                    <div class="form-group row">
                        <label for="assessment_set" class="col-sm-3 col-form-label">Assessment Set</label>
                        <div class="col-sm-9">
                            <select id="assessment_set" name="assessment_set" required="required" class="form-control"
                                v-model="currentset">
                                <option v-for="set in sets" :value="set">{{set.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="item" class="col-sm-3 col-form-label">Item(s)</label>
                        <div class="col-sm-9">
                            <textarea id="item" name="item" cols="40" rows="5" class="form-control" aria-describedby="itemHelpBlock"></textarea>
                            <span id="itemHelpBlock" class="form-text text-muted">A list of assessment items. Multiple
                                items can be added by putting each on a separate line. These can also be added later.</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-3 col-9">
                            <button name="submit" type="submit" class="btn btn-primary">{{actions[14]}}</button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- LEARNER SCREEN-->
            <div id="learners" v-if="currentaction == actions[5]">
                <h4 v-if="currentuser !== 0">{{currentuser.first_name}} {{currentuser.last_name}}</h4>
                <div class="list-group">

                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left"
                        v-if="currentuser !== 0" v-on:click="updateaction(actions[8])"><i class="fas fa-angle-right color-primary-3"></i>
                        {{actions[8]}}</button>
                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left"
                        v-if="currentuser == 0" v-on:click="updateaction(actions[15])"><i class="fas fa-plus-circle color-secondary-1-3"></i>
                        {{actions[15]}}</button>
                    <!-- <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left " v-if="currentuser !== 0 && currentaction == actions[5]"
                        v-on:click="setcurrentuser(0)"><i class="fas fa-arrow-left color-secondary-1-3"></i>Back</button> -->
                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left "
                        v-if="currentuser !== 0 && currentaction == actions[5]"><i class="far fa-edit color-complement-3"></i>Edit
                        Learner</button>
                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left "
                        v-if="currentuser !== 0 && currentaction == actions[5]" v-on:click="updateaction(actions[6]); setcurrentreport(reports[3]);"><i
                            class="far fa-chart-bar color-secondary-2-3"></i>{{reports[3].name}}</button>
                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left "
                        v-if="currentuser !== 0 && currentaction == actions[5]"><i class="fas fa-minus-circle color-complement-1"></i>
                        Delete Learner</button>
                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left "
                        v-for="user in users" :key="user.id" v-on:click="setcurrentuser(user)" v-if="currentuser === 0">{{user.first_name}}
                        {{user.last_name}} (Group: {{user.group_id}})
                        <!-- TODO SHOW GROUP SORT BY LAST NAME -->
                    </button>
                </div>
            </div>

            <!-- CREATE LEARNER SCREEN -->
            <div id="createlearner" v-if="currentaction === actions[15]">
                <h4 class="offset-md-3">{{actions[15]}}</h4>
                <form>
                    <div class="form-group row">
                        <label for="group" class="col-sm-3 col-form-label">Group</label>
                        <div class="col-sm-9">
                            <select id="group" name="group" required="required" class="form-control" v-model="currentgroup">
                                <option v-for="group in groups" :value="group">{{group.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="learner" class="col-sm-3 col-form-label">Learner(s)</label>
                        <div class="col-sm-9">
                            <textarea id="learner" name="learner" cols="40" rows="5" class="form-control"
                                aria-describedby="itemHelpBlock" placeholder="First Name Last Name
First Name Last Name
First Name Last Name
                            "></textarea>
                            <span id="itemHelpBlock" class="form-text text-muted">A list of learners. Multiple
                                learners can be added by putting each on a separate line. These can also be added
                                later.</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-3 col-9">
                            <button name="submit" type="submit" class="btn btn-primary">Add Learners</button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- ASSESSMENT SETTINGS SCREEN -->
            <div id="prepareassessment" v-if="currentaction == actions[13]">
                <form action="assess.html" method="post" id="assessmentsettings">
                    <div class="form-group row ">
                        <label class="col-sm-6 col-form-label">Settings</label>
                        <div class="col text-left">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input name="settings" type="checkbox" v-model="assessmentsettings.random"
                                        aria-describedby="settingsHelpBlock" class="form-check-input" value="random">
                                    Randomize Item Order
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input name="settings" type="checkbox" v-model="assessmentsettings.timed"
                                        aria-describedby="settingsHelpBlock" class="form-check-input" value="timed">
                                    Item Goal Time
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input name="settings" type="checkbox" v-model="assessmentsettings.autoadvance"
                                        aria-describedby="settingsHelpBlock" class="form-check-input" value="autoadvance"
                                        :disabled="!assessmentsettings.timed">
                                    Auto Advance <small><span class="text-danger" v-if="!assessmentsettings.timed">(Item
                                            Goal Time Required for this setting)</span></small>
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input name="settings" type="checkbox" v-model="assessmentsettings.countfilter"
                                        aria-describedby="settingsHelpBlock" class="form-check-input" value="countfilter">
                                    Filter by Previous Answer Counts
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input name="settings" type="checkbox" v-model="assessmentsettings.itemlimit"
                                        aria-describedby="settingsHelpBlock" class="form-check-input" value="itemlimit">
                                    Limit Assessment Items
                                </label>
                            </div>
                            <span id="settingsHelpBlock" class="form-text text-muted">Choose all that apply.</span>
                        </div>
                    </div>

                    <div class="form-group row" v-if="assessmentsettings.timed">
                        <label for="answertime" class="col-sm-6 col-form-label">Desired Answer Time</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input id="answertime" name="answertime" type="number" step="1" min="0" max="60" value="3"
                                    aria-describedby="answertimeHelpBlock" class="form-control here">
                                <div class="input-group-append"><span class="input-group-text">Seconds</span></div>
                            </div>
                            <span id="answertimeHelpBlock" class="form-text text-muted">The number of seconds desired
                                for each item to be answered. Item will be marked incorrect after this time.</span>
                        </div>
                    </div>

                    <div class="form-group row" v-if="assessmentsettings.countfilter">
                        <label for="assessmentcount" class="col-sm-6 col-form-label">Answer Count Filter</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input id="assessmentcount" name="assessmentcount" type="number" step="1" min="0" max="10"
                                    value="3" aria-describedby="assessmentcountHelpBlock" required="required" class="form-control here">
                                <div class="input-group-append"><span class="input-group-text">Count</span></div>
                            </div>
                            <span id="assessmentcountHelpBlock" class="form-text text-muted">Only show items that have
                                not yet been answered this many times</span>
                        </div>
                    </div>
                    <div class="form-group row" v-if="assessmentsettings.itemlimit">
                        <label for="text" class="col-sm-6 col-form-label">Item Limit</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input id="text" name="text" type="number" step="1" min="0" max="100" value="10"
                                    aria-describedby="textHelpBlock" class="form-control here">
                                <div class="input-group-append"><span class="input-group-text">Items</span></div>
                            </div>
                            <span id="textHelpBlock" class="form-text text-muted">Limit the total items in this
                                assessment</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="offset-3 col-6">
                            <button name="submit" type="submit" class="btn btn-primary">Begin Assessment</button>
                        </div>
                    </div>
                </form>
            </div>


            <!-- REPORTS SCREEN -->
            <div id="REPORTS" v-show="currentaction == actions[6]">
                <h4 v-if="currentreport !== 0">{{currentreport.name}}</h4>
                <div class="list-group">

                    <!-- reports list -->
                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left"
                        v-if="currentreport === 0" v-for="report in reports" v-on:click="setcurrentreport(report)"><i
                            :class="[report.icon, report.colorclass]"></i>
                        {{report.name}}</button>

                    <!-- sets list -->
                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left "
                        v-for="set in sets" :key="set.id" v-on:click="setcurrentset(set)" v-if="currentset === 0 && currentreport == reports[0]">{{set.name}}
                        - {{set.description}}</button>

                    <!-- Items list -->
                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left "
                        v-for="item in items" :key="item.id" v-on:click="setcurrentitem(item)" v-if="currentitem === 0 && currentreport == reports[1]">{{item.item_number}}.
                        {{item.item}}
                    </button>

                    <!-- groups list -->
                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left "
                        v-for="group in groups" :key="group.id" v-on:click="setcurrentgroup(group); updatechart()" v-if="currentgroup === 0 && currentreport == reports[2]">{{group.name}}
                        - {{group.description}}</button>

                    <!-- learner list -->

                    <button type="button" class="list-group-item list-group-item-action my-2 py-4 mx-auto w-100 text-left "
                        v-for="user in users" :key="user.id" v-on:click="setcurrentuser(user)" v-if="currentuser === 0 && currentreport == reports[3]">{{user.first_name}}
                        {{user.last_name}} (Group: {{user.group_id}})
                    </button>

                    <div v-show="currentreport !== 0 && currentgroup !==0" id="barchart_material" style=""></div>

                </div>
            </div>

        </main>

        <!-- FOOTER -->
        <footer class="mastfoot mt-auto">
            <div class="inner">
                <hr>
                <p>Created by <a target="_blank" href="http://thejoshdean.com">Josh Dean</a> 2018</p>
            </div>
        </footer>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

    <script>
        // todo add reusable delete confirmation function to receive request and then forward to right delete function 
        // function myFunction() {
        //     var txt;
        //     var r = confirm("Press a button!");
        //     if (r == true) {
        //         txt = "You pressed OK!";
        //     } else {
        //         txt = "You pressed Cancel!";
        //     }
        //     document.getElementById("demo").innerHTML = txt;
        // }
        var app = new Vue({
            el: '#app',
            data: {
                title: 'Adepto',
                loggedin: true,
                actions: ['Dashboard', 'Assess', 'Assessment Sets', 'Assessment Items', 'Groups',
                    'Learners', 'Reports', 'Assess Group', 'Assess Learner', 'Create Assessment Set',
                    'Delete Set', 'Create Group', 'Delete Group', 'Assessment Settings', 'Add Assessment Items', 'Add Learners'],
                currentaction: 'Dashboard',
                dashboardbuttons: [
                    {
                        action: 1,
                        icon: "fas fa-angle-double-right",
                        colorclass: "color-primary-4"
                    },
                    {
                        action: 2,
                        icon: "fas fa-tasks",
                        colorclass: "color-complement-4"
                    },
                    {
                        action: 3,
                        icon: "far fa-check-square",
                        colorclass: "color-complement-3"
                    },
                    {
                        action: 4,
                        icon: "fas fa-users",
                        colorclass: "color-secondary-1-4"
                    },
                    {
                        action: 5,
                        icon: "fas fa-user",
                        colorclass: "color-secondary-1-3"
                    },
                    {
                        action: 6,
                        icon: "far fa-chart-bar",
                        colorclass: "color-secondary-2-3"
                    }
                ],
                reports: [
                    { name: 'Assessment Set Report', icon: 'fas fa-tasks', colorclass: 'color-complement-4' },
                    { name: 'Item Report', icon: 'far fa-check-square', colorclass: 'color-complement-3' },
                    { name: 'Group Report', icon: 'fas fa-users', colorclass: 'color-secondary-1-4' },
                    { name: 'Learner Report', icon: 'fas fa-user', colorclass: 'color-secondary-1-3' },
                ],
                currentreport: 0,
                // assessmentprepare: false,
                samplesets: [
                    { id: 1, name: 'Alphabet (Upper)', description: 'Uppercase alphabet letters' },
                    { id: 2, name: 'Multiplicaton Facts', description: 'Unique times table facts from 0 to 10' },
                    { id: 3, name: '1st 100 Fry Words', description: 'First 100 Fry sight reading words' }
                ],
                sets: [],
                currentset: 0,
                samplegroups: [
                    { id: 4, name: '2nd Grade', description: 'Mrs. Mills Sample Class 1' },
                    { id: 5, name: '4th Grade', description: 'Mr. Dean\'s Sample Class 2' }
                ],
                groups: [],
                currentgroup: 0,
                sampleusers: [
                    { id: 6, first_name: 'Lisa', last_name: 'Dean', group_id: 4 },
                    { id: 7, first_name: 'Julia', last_name: 'Eden', group_id: 4 },
                    { id: 8, first_name: 'Micah', last_name: 'Christian', group_id: 4 },
                    { id: 9, first_name: 'Stephanie', last_name: 'Nichols', group_id: 5 },
                ],
                users: [],
                currentuser: 0,
                sampleitems: [
                    { id: 10, item_number: 1, item: "a", assessment_set_id: 3 },
                    { id: 11, item_number: 2, item: "about", assessment_set_id: 3 },
                    { id: 12, item_number: 3, item: "all", assessment_set_id: 3 },
                    { id: 13, item_number: 4, item: "an", assessment_set_id: 3 },
                    { id: 14, item_number: 5, item: "and", assessment_set_id: 3 },
                    { id: 15, item_number: 6, item: "are", assessment_set_id: 3 },
                    { id: 16, item_number: 7, item: "What is the capital of spain", assessment_set_id: 1 },
                ],
                items: [],
                currentitem: 0,
                assessmentsettings: { random: true, timed: true, autoadvance: true, countfilter: true, itemlimit: true },
                report: {},
                sampleReport: {average: 78, data: [{label: 'bob', value: 89},{label: 'Sal', value: 56},{label: 'Bill', value: 90},{label: 'Gail', value: 66}]}
            },
            created: function () {
                this.items = this.sampleitems;
                this.groups = this.samplegroups;
                this.sets = this.samplesets;
                this.users = this.sampleusers;
                this.report = this.sampleReport;
                // TODO fetch from db
// drawChart();
            },
            methods: {
                updateaction: function (action) {
                    $('.collapse').collapse("hide")
                    this.currentaction = action;
                    // this.subtitle = action;
                    console.log(this.currentaction);
                    // if (this.currentaction !== this.actions[13]) {
                    //     this.resetcurrents();
                    // }

                    if (this.currentaction === this.actions[0] || this.currentaction === this.actions[2]
                        || this.currentaction === this.actions[3]
                        || this.currentaction === this.actions[4]
                        || this.currentaction === this.actions[5]
                    ) {
                        // this.resetcurrents();
                    }
                },
                setcurrentuser: function (user) {
                    this.currentuser = user;
                    console.log(this.currentuser.first_name);
                },
                setcurrentgroup: function (group) {
                    this.currentgroup = group;
                    console.log(this.currentgroup.name);
                },
                setcurrentset: function (set) {
                    this.currentset = set;
                    console.log(this.currentset.name);
                },
                setcurrentitem: function (item) {
                    this.currentitem = item;
                    console.log(this.currentitem.item);
                },
                setcurrentreport: function (report) {
                    this.currentreport = report;
                    console.log(this.currentreport.name);
                },
                resetcurrents: function () {
                    this.currentgroup = this.currentitem = this.currentset = this.currentuser = this.currentreport = 0;
                },
                updatechart: function(){
                    drawChart();
                    // TODO working on charts for reports
                }
            }
        })



    </script>

</body>

</html>