<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">
  <title>Adepto</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <style>


</style>
</head>

<body class="text-center">

  <div id="app" class="cover-container d-flex h-100 p-2 mx-auto flex-column">


    <header class="masthead mb-auto">
      <div class="inner">
        <nav class="navbar navbar-expand-md navbar-light">
          <a class="navbar-brand" href="#" v-on:click="updateaction(actions[0])">Adepto</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse flex-grow-1" id="navbarNav">
            <ul class="navbar-nav ml-auto flex-nowrap">
              <li class="nav-item" v-bind:class="{ active: currentaction ==actions[1]}">
                <a class="nav-link" href="#" v-on:click="updateaction(actions[1])">Login</a>
              </li>
              <li class="nav-item" v-bind:class="{ active: currentaction ==actions[2]}">
                <a class="nav-link" href="#" v-on:click="updateaction(actions[2])">Sign Up</a>
              </li>
              <li class="nav-item" v-bind:class="{ active: currentaction ==actions[3]}">
                <a class="nav-link" href="#" v-on:click="updateaction(actions[3])">About</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">

      <!-- SPLASH SCREEN -->
      <div id="splash" v-if="currentaction == actions[0]">
        <h1 class="cover-heading">Assess <i class="fas fa-angle-double-right fa-xs"></i><br> Track <i class="fas fa-chart-line fa-xs"></i><br>
          Report <i class="far fa-chart-bar fa-xs"></i></h1>
        <img class="mx-auto w-50" src="./assets/demo.gif" alt="sliding screens of various multiplcation facts">
        <p class="lead">Formative Assessment Done Right!</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-primary" v-on:click="updateaction(actions[1])">Get Started</a>
        </p>
      </div>

      <!-- LOGIN SCREEN -->
      <div id="login" v-if="currentaction == actions[1]">
        <form class="form-signin">
          <h3 class="">Login</h3>
          <br>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="inputEmail" class="form-control mx-auto w-50" placeholder="Email address" required
            autofocus>
          <br>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control mx-auto w-50" placeholder="Password" required>
          <br>
          <button class="btn btn-md btn-secondary" type="submit">Sign in</button>
          <br>
          <p>Don't have an account? <a href="#" v-on:click="updateaction(actions[2])">Sign up</a></p>
        </form>
      </div>

      <!-- SIGN UP SCREEN -->
      <div id="signup" v-if="currentaction == actions[2]">
        <h4>Sign Up</h4>
        <br>
        <form>
          <div class="form-group row">
            <label class="col-form-label sr-only" for="email">Email</label>
            <div class="mx-auto w-50">
              <input id="email" name="email" placeholder="Email Address" type="email" required="required" class="form-control here">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label sr-only" for="password">Password</label>
            <div class="mx-auto w-50">
              <input id="password" name="password" placeholder="Password" type="password" required="required" class="form-control here">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label sr-only" for="password2">Confirm Password</label>
            <div class="mx-auto w-50">
              <input id="password2" name="password2" placeholder="Confirm Password" type="password" class="form-control here">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label sr-only" for="first_name">First Name</label>
            <div class="mx-auto w-50">
              <input id="first_name" name="first_name" placeholder="First Name" type="text" class="form-control here">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label sr-only" for="last_name">Last Name</label>
            <div class="mx-auto w-50">
              <input id="last_name" name="last_name" placeholder="Last Name" type="text" class="form-control here">
            </div>
          </div>
          <div class="form-group row">
            <div class="mx-auto w-50">
              <button name="submit" type="submit" class="btn btn-md btn-secondary">Sign Up</button>
            </div>
          </div>
        </form>
      </div>

      <!-- ABOUT SCREEN -->
      <div id="about" class="mx-auto w-75" v-if="currentaction == actions[3]">
        <h3>Why Adepto?</h3>
        <p>
          In the classroom we can classify assessments into two main categories. There are formative assessments and
          summative assessments. Summative assessments take the form of exams, testing, final projects or papers.
          Summative assessments are easily recognized because they are usually given a grade. Formative assessments are
          recognizable because they are not given a grade and are used as assessments for learning. Formative
          assessments allow an instructor to gauge the ability of the student, but the results are used to modify
          future lessons and curriculum (O’Malley and Pierce 1996).
        </p>
        <p>This assessment tool allows for continuous assessment for instruction. Assess students each day on their
          areas of struggle and track their progress. Use the tool as an exit ticket on their way out the door or while
          waiting in the hallways.</p>
        <small><cite>O’Malley, J. M. & Valdez Pierce, L. (1996). Authentic assessment for English language
          learners: Practical approaches for teachers. New York: Pearson Longman.
        </cite></small>
      </div>
    </main>

    <!-- FOOTER -->
    <footer class="mastfoot mt-auto">
      <div class="inner">
        <hr>
        <p>Created by <a target="_blank" href="http://thejoshdean.com">Josh Dean</a> 2018</p>
      </div>
    </footer>
  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
    crossorigin="anonymous"></script>

  <script>

    var app = new Vue({
      el: '#app',
      data: {
        actions: ['splash', 'login', 'signup', 'about'],
        currentaction: 'splash'
      },
      methods: {
        updateaction: function (action) {
          $('.collapse').collapse("hide")
          this.currentaction = action;
        }
      }
    })

  </script>
</body>

</html>